.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.td, .th {
    border: 1px solid #6e6e6e;
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even) {
    background-color: #290d0d;
  }